<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <connectionStrings>
      <add name="CameraCoDB" providerName="System.Data.SqlClient" connectionString="Data Source=localhost;Initial Catalog=cameraco;Integrated Security=True"/> 
    </connectionStrings>
</configuration>